@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #0b0c10;
  --sec-bg-color: #1f2833;
  --text-color: #cfc6c7;
  --main-color: #66fcf1;
  --navdisp: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

/* Header Logo  */
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  margin-left: 2rem;
}

#menu-icon{
  padding-right: 0.5rem;
}


.nav-hidden{
  display: block;
}

.navbar{
  display: block;
}

.navbar a, .nav-btn {
  font-size: 2rem;
  /* border: #0b0c10; */
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.navbar a:hover {
  color: var(--main-color);
}


/* Dropdown */

.nav-btn{
  background: none;
}

.nav-btn:hover{
  color: var(--main-color);
}

.dropdown{
  display: inline;
  overflow: hidden;
  font-size: 1.7rem;
  border:none;
  color: var(--text-color);
  /* margin-left: 4rem; */
  transition: 0.3s;
}
.dropdown-content{

  display: none;
  position: absolute;
  background-color: none;
  border-radius: 10%;
  margin-left: 12rem;
  background-color: var(--sec-bg-color);
  /* border: 0.5px solid var(--main-color); */
  z-index: 1;
  
}

.dropdown-content a{
  font-size: 1.7rem;
  float: none;
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  display: block;
  margin-left: 0px;
  padding: 0.5rem 1.5rem;
}

.dropdown:hover .dropdown-content{
  display: block;
  /* background-color: var(--bg-color); */
}

/* Main Section  */
section {
  /* background-image: linear-gradient(to left, #13385c 0%, black 100%); */
  background: var(--bg-color);
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Content  */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.text{
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
}

.text::before{
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  height: 100%;
  color: var(--text-color);
  -webkit-text-stroke: 0px transparent;
  overflow: hidden;
  animation: fill 3s ease-in-out infinite;
}

@keyframes fill {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
  
}

/* lOGO  */

/* Logo coin flip animation */
.logo-image {
  width: 30vw;
  height: 30vw;
  /* transition: transform 1s ease-in-out; Apply a smooth transition effect */
  animation: coinFlip 0.5s ease-in-out 1.2s forwards, glow 1.2s ease-in-out infinite alternate; /* Apply the coin flip animation on hover */
}
/* 
.logo-image:hover {
  animation: 
  box-shadow: 0 0 3rem var(--main-color);
} */

@keyframes glow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 3rem var(--main-color);
  }
}

/* Define the keyframes for the coin flip animation */
@keyframes coinFlip {
  0% {
    transform: perspective(900px) rotateY(0deg); /* Start with no rotation */
  }
  50% {
    transform: perspective(900px) rotateY(180deg) scale(1.2); /* Flip halfway through */
  }
  100% {
    transform: perspective(900px) rotateY(360deg); /* Complete the flip */
  }
}


.home-img img{
  border: 2px solid white;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
}

/* Social Media Icons */
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--sec-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* Event  */
#events{
    background: var(--sec-bg-color);
    padding-bottom: 10rem;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--sec-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.events h2{
    margin-bottom: 5rem;
}


.event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.event-container .event-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--sec-bg-color);
    transition: .5s ease;
}

.event-box{
  height: 400px;
}

.event-container .event-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.event-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.event-box h3{
    font-size: 2.6rem;
}

.event-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/* Team Section  */
#team{
  background: var(--bg-color);
  padding-bottom: 10rem;
}

.team-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.team-img img{
  width: 40vw;
  height: auto;
  /* animation: glowteam 1s ease-in-out infinite alternate; */
}

.team-img img:hover{
  filter: drop-shadow(5px 5px 5px var(--main-color));
}

/* @keyframes glowteam {
  0% {
    filter: drop-shadow(1px 1px 1px var(--main-color))
  }
  100% {
    filter: drop-shadow(5px 5px 5px var(--main-color))
  }
} */

.team-content div{
  display: block;
  padding: 2rem 0;
}

.team-content h3{
  /* margin: 1rem 0; */
  font-size: 2.6rem;
}

.team-content p{
  font-size: 1.6rem;
  /* margin: 2rem 0 3rem; */
}



/* testimonials */
.testimonials{
  min-height: 100vh;
  padding: 10rem 9%;
  background-color: var(--sec-bg-color);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .2);
  filter: blur(2px);
  perspective: 900px;
}

.swiper-slide-active{
  filter: blur(0px);
}

.testimonial-card{
  height: inherit;
  width: inherit;
  border-radius: 5%;
  padding: 6rem 2rem;
  background-color: var(--bg-color);
  text-align: center;
  transition: all 0.8s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.swiper-slide, .testimonial-card{
  position: relative;
}

.swiper-slide:hover .testimonial-card{
  transform: scale(1.05) rotateY(180deg);
}

.front, .back{
  width: inherit;
  height: inherit;
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  padding: 2rem;
}

.front{
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5%; 
  font-size: 1.8rem;
  color: var(--main-color);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.st-quote, .end-quote{
  font-size: 2rem;
}

.st-quote{
  text-align: start;
}

.quote{
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-quote{
  text-align: end;
}

.author{
  text-align: end;
  opacity: 0.7;
}

.back{
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 5%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  color: var(--main-color);
  font-size: 1rem;
  font-style: oblique;
  align-items:center;
  border: 2px solid var(--main-color); 
}

.front:hover{
  border: 2px solid var(--main-color); 
}

.back img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* .testimonial-card.flipped {
  transform: rotateY(180deg);
}

.testimonial-card.flipped .front {
  transform: rotateY(180deg);
}

.testimonial-card.flipped .back {
  transform: rotateY(0deg);
} */







/* footer section */

footer{
  background: var(--bg-color);
  padding: 1.4rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.footer-heading{
  text-align: left;
  font-size: 4.5rem;
  /* margin-left: 1.2rem; */
}

.footer-logo{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.social-media-footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 1rem 1rem 1rem 0;
  transition: 0.5s ease;
}

.social-media-footer a:hover {
  background: var(--main-color);
  color: var(--sec-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.rights{
  padding-left: 1rem;
}

.followus, .contactus{
  text-align: left;
}

.contactus-content{
  margin-top: 1rem;
}


/* .contactus-content{
  padding-left: 1.2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
} */

span{
  font-weight: 700;
}



/* Breakpoints */
@media (max-width: 1200px) {
  html{
    font-size: 55%;
  }

  .home-img img{
    width: 40vw;
    height: 40vw;
  }

}

@media(max-width : 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .team{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .team-content{
    flex-direction: column;
  }
  .team-content h3{
    margin-top: -11rem;
    /* margin: 1rem 0; */
    font-size: 2.6rem;
  }
  .team-img img{
    width: 90vw;
  }

  footer {
    padding: 2rem 3%;
  }
}

@media(max-width: 768px) {
  #menu-icon {
    display: block
  }

  .header{
    width: 100vw;
  }

  .html{
    overflow-x: hidden;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  .home{
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }

  .home-img img{
    width: 50vw;
    height: 50vw;
  }

  .home-content{
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .nav-btn{
    margin-left: 0rem;
  }

  .dropdown-content{
    display: none;
  }

  .dropdown:hover .dropdown-content{
    display: none;
  }


}

@media(max-width: 565px){
  .footer{
    justify-content: start;
  }
}

@media(max-width: 450px){
  /* .home-img{
    margin-left: 2.8rem;
  } */

  .home-img img{
    width: 80vw;  
    height: 80vw;
  }

  .swiper-slide{
    width: 280px;
    height: 280px;
  }

  .front{
    font-size: 1.5rem;
  }

  .footer{
    justify-content: start;
  }

}