@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #0b0c10;
  --sec-bg-color: #1f2833;
  --text-color: #cfc6c7;
  --main-color: #66fcf1;
  --navdisp: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

/* Header Logo  */
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  margin-left: 2rem;
}

#menu-icon{
  padding-right: 0.5rem;
}


.nav-hidden{
  display: block;
}

.navbar{
  display: block;
}

.navbar a, .nav-btn {
  font-size: 2rem;
  /* border: #0b0c10; */
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.navbar a:hover {
  color: var(--main-color);
}


/* Dropdown */

.nav-btn{
  background: none;
}

.nav-btn:hover{
  color: var(--main-color);
}

.dropdown{
  display: inline;
  overflow: hidden;
  font-size: 1.7rem;
  /* border: #0b0c10; */
  color: var(--text-color);
  /* margin-left: 4rem; */
  transition: 0.3s;
}
.dropdown-content{

  display: none;
  position: absolute;
  background-color: none;
  border-radius: 10%;
  margin-left: 12rem;
  /* border: 0.5px solid var(--main-color); */
  z-index: 1;
  
}

.dropdown-content a{
  font-size: 1.7rem;
  float: none;
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  display: block;
  margin-left: 0px;
  padding: 0.5rem 1.5rem;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Main Section  */
section {
  /* background-image: linear-gradient(to left, #13385c 0%, black 100%); */
  background: var(--bg-color);
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Content  */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

/* lOGO  */
.home-img {
  width: 38vw;
  height: 55vh;
}

/* Social Media Icons */
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--sec-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* Event  */
#events{
    background: var(--sec-bg-color);
    padding-bottom: 10rem;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--sec-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.events h2{
    margin-bottom: 5rem;
}


.event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.event-container .event-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--sec-bg-color);
    transition: .5s ease;
}

.event-container .event-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.event-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.event-box h3{
    font-size: 2.6rem;
}

.event-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

footer{
  background: var(--bg-color);
  padding: 1.4rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}

.footer-heading{
  text-align: left;
  font-size: 4.5rem;
  margin-left: 1.2rem;
}

.footer-logo{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.social-media-footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 1rem;
  transition: 0.5s ease;
}

.social-media-footer a:hover {
  background: var(--main-color);
  color: var(--sec-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.rights{
  padding-left: 1rem;
}

.contactus{
  /* margin-left: 50rem; */
}

.contactus-content{
  padding-left: 1.2rem;
}



/* tesimonials */
.testimonial-container {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: var(--bg-color);
}

.testimonial-carousel {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 20px;
}

.testimonial-card {
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s;
}

.testimonial-card img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.testimonial-card p {
  font-size: 1rem;
  color: #777;
}

/* Add more styling as needed */













/* Breakpoints */
@media (max-width: 1200px) {
  html{
    font-size: 55%;
  }
}

@media(max-width : 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  footer {
    padding: 2rem 3%;
  }
}

@media(max-width: 768px) {
  #menu-icon {
    display: block
  }

  .header{
    width: 100vw;
  }

  .html{
    overflow-x: hidden;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  .home{
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }

  .home-content{
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .home-img{
    width: 80vw;  
    height: auto;
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .nav-btn{
    margin-left: 0rem;
  }

  .dropdown-content{
    display: none;
  }

  .dropdown:hover .dropdown-content{
    display: none;
  }

  .contactus{
    padding-left: 4rem;
  }

}